//output:../index.html
doctype html 
html(dir="ltr" lang="en")
  head
    link(href="css/style.css" type="text/css" rel="stylesheet")
    META(name="viewport" content="width=device-width, initial-scale=1")
  body
    canvas#clock
    //- ----------------------------------------------------------------------
    //- ----------------------------------------------------------------------
    //- ----------------------------------------------------------------------
    script(src="js/lib/jquery-3.1.0.min.js")
    //- ----------------------------------------------------------------------
    script(src="js/snippets/myLog.js")
    script(src="js/snippets/dimFuncs.js")
    //- ----------------------------------------------------------------------
    script(src="js/clock.js")
